header {
    background-color: #ffc107;
}

#home {
    background-color: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #c7c7c7;
}

footer p a {
    margin: 5px 15px;
}